@model Cabinets
@using Shedule.Models
@{
    ViewBag.Title = "Кабинеты";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewBag.Message</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <button class="btn btn-sm btn-outline-secondary">
            @*<span data-feather="plus-circle"></span>*@
            @Html.ActionLink("Новая запись", "CreateCabinets", "Directories", new { }, new { @class = "viewDialog", data_dialog_title = "Создание модели" })
        </button>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-light">
        <thead>
            <tr class="d-flex">
                <th class="col-1" scope="col">№</th>
                <th class="col-2" scope="col">Наименование</th>
                <th class="col-2" scope="col">Здание</th>
                <th class="col-3" scope="col">Комментарий</th>
                <th class="col-1" scope="col">Лекция</th>
                <th class="col-1" scope="col">Практика</th>
                <th class="col-1" scope="col"></th>
                <th class="col-1" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @{  int i = 1;
                var yes = Html.Raw("<span data-feather=check ></ span >");
                var no = Html.Raw("<span data-feather=minus ></ span >");
             }
            @foreach (var item in ViewBag.Cabinets)
            {
                <tr class="d-flex">
                    <th class="col-1" scope="row">@i</th>
                    <td class="col-2">@item.Name</td>
                    <td class="col-2">@item.Buildings.Name</td>
                    <td class="col-3">@item.Comment</td>
                    <td class="col-1">@if (item.Lecture) {@yes} else {@no} </td>
                    <td class="col-1">@if (item.Practice) {@yes} else {@no} </td>
                    <td class="text-right col-1">
                        @*<span data-feather="edit"></span>*@
                        @Html.ActionLink("Редактировать", "EditCabinets", "Directories", new { id = item.Id },
                              new { @class = "viewDialog", data_dialog_title = "Редактирование модели" })
                    </td>
                    <td class="text-right col-1">
                        @Html.ActionLink("Удалить", "DeleteCabinets", "Directories", new { id = item.Id },
                              new { @class = "viewDialog", data_dialog_title = "Удаление модели" })
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>


