@model Shedule.Models.Cabinets

<div class="modal-content">
    <div class="modal-header">
        <h4>Редактирование записи</h4>
        <button class="close" data-dismiss="modal" area-hidden="true">x</button>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(с => с.Id)
        <div>
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
        </div>
        <div>
            @Html.LabelFor(model => model.BuildingsId)
            @Html.DropDownListFor(model => model.BuildingsId, ViewBag.Buildings as SelectList)
        </div>
        <div>
            @Html.LabelFor(model => model.Comment)
            @Html.EditorFor(model => model.Comment)
        </div>
        <div>
            @Html.LabelFor(model => model.Lecture)
            @Html.CheckBoxFor(model => model.Lecture)
        </div>
        <div>
            @Html.LabelFor(model => model.Practice)
            @Html.CheckBoxFor(model => model.Practice)
        </div>

        <p><input type="submit" value="Сохранить" /></p>

}
    </div>
</div>



