
<script src="~/Scripts/dhtmlxscheduler/dhtmlxscheduler.js" type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" href="~/Content/dhtmlxscheduler/dhtmlxscheduler_material.css" type="text/css" charset="utf-8">
<script src='~/Scripts/dhtmlxscheduler/ext/dhtmlxscheduler_tooltip.js' type="text/javascript" charset="utf-8"></script>

<script src="~/Scripts/dhtmlxscheduler/locale/locale_ru.js" type="text/javascript" charset="utf-8"></script>

<script src="~/Scripts/dhtmlxscheduler/ext/dhtmlxscheduler_editors.js" type="text/javascript" charset="utf-8"></script>

<script src="~/Scripts/dhtmlxscheduler/ext/dhtmlxscheduler_mvc.js" type="text/javascript" charset="utf-8"></script>


<style type="text/css" media="screen">
    html, body {
        margin: 0px;
        padding: 0px;
        height: 100%;
        overflow: hidden;
    }
</style>

<script type="text/javascript" charset="utf-8">
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    function init() {
        scheduler.config.xml_date = "%d-%m-%Y %H:%i";
        scheduler.config.details_on_create = true;

        scheduler.config.first_hour = 7;
        scheduler.config.last_hour = 22;
        scheduler.config.limit_time_select = true;
        scheduler.templates.tooltip_date_format = scheduler.date.date_to_str("%d-%m-%Y %H:%i");
        //var format = scheduler.date.date_to_str("%d-%m-%Y %H:%i"); 
        //scheduler.templates.tooltip_text = function (start, end, event) {
        //    return "<b>Группа:</b> " + event.text + "<br/><b>Start date:</b> " +
        //        format(start) + "<br/><b>End date:</b> " + format(end);
        //};
        //scheduler.xy.scale_width = 70;        
        scheduler.locale.labels.section_type = 'Тип занятия';
        scheduler.locale.labels.section_group = 'Группа';
        scheduler.locale.labels.section_teacher = 'Преподаватель';     
        scheduler.locale.labels.section_cabinet = 'Кабинет'; 
        scheduler.locale.labels.section_subject = 'Тема'; 
        scheduler.locale.labels.section_subgroup = 'Подгруппа'; 
        scheduler.locale.labels.section_comment = 'Комментарий'; 
        scheduler.locale.labels.section_unit = 'Подразделение'; 

       
        var typeList = @Html.Raw(Json.Encode(ViewBag.typeList));
        var groupList = @Html.Raw(Json.Encode(ViewBag.groupList));
        var teacherList = @Html.Raw(Json.Encode(ViewBag.teacherList));
        var cabinetList = @Html.Raw(Json.Encode(ViewBag.cabinetList));
        var subjectList = @Html.Raw(Json.Encode(ViewBag.subjectList));
        var unitList = @Html.Raw(Json.Encode(ViewBag.unitList));
        
        scheduler.config.lightbox.sections = [
            { name: "group", height: 10, map_to: "group", type: "select", options: groupList, focus: true  },
            { name: "unit", height: 10, map_to: "unit", type: "select", options: unitList },
            { name: "teacher", height: 10, map_to: "teacher", type: "select", options: teacherList },
            { name: "cabinet", height: 10, map_to: "cabinet", type: "select", options: cabinetList },
            { name: "subject", height: 10, map_to: "subject", type: "select", options: subjectList},
            { name: "type", height: 10, map_to: "type", type: "select", options: typeList },   
            { name: "comment", height: 100, map_to: "text", type: "textarea", default_value: "11 " },
            { name: "time", height: 72, type: "time", map_to: "auto" }         
            
           
        ];

        scheduler.attachEvent("onTemplatesReady", function () {
            scheduler.templates.event_text = function (start, end, event) {
                for (var i = 0; i < groupList.length; i++) {
                    if (event.group == groupList[i].key) {
                        var egroup = groupList[i].label;                    
                    }              
                    
                }
                for ( i = 0; i < subjectList.length; i++) {
                    if (event.subject == subjectList[i].key) {
                        var esubject = subjectList[i].label;                   
                    }

                }
                for ( i = 0; i < unitList.length; i++) {
                    if (event.unit == unitList[i].key) {
                        var eunit = unitList[i].label;                     
                    }

                }
                
                return "<b>" + egroup + "</b> <br>" + esubject + "<br> <i>" + eunit +"</i>";
            }
        }); 

        var filter_units = document.getElementById("FilterUnits");
        select.onchange = function () {
            scheduler.updateFilters(this.value);
        };
        //var filter_groups = document.getElementById("FilterGroups");
        
        //var filter_teachers = document.getElementById("FilterTeachers");
        

        

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        scheduler.init('scheduler_here', null, "week");

        scheduler.load("/Calendar/Data");
        var dp = new dataProcessor("/Calendar/Save");
        dp.init(scheduler);
        dp.setTransactionMode("POST", false);
    }
</script>

<body onload="init()">
    <div>
        <div class="row">
            <div class="col">Подразделение: @Html.DropDownList("Units", ViewBag.Groups as SelectList, new { @class = "form-control", id = "FilterUnits" })</div>
            <div class="col">Группа: @Html.DropDownList("Groups", ViewBag.Units as SelectList, new { @class = "form-control", id = "FilterGroups" })</div>
            <div class="col">Преподаватель: @Html.DropDownList("Teachers", ViewBag.Teachers as SelectList, new { @class = "form-control", id = "FilterTeachers" })</div>            
        </div>
    </div>
    <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
        <div class="dhx_cal_navline">
            <div class="dhx_cal_prev_button">&nbsp;</div>
            <div class="dhx_cal_next_button">&nbsp;</div>
            <div class="dhx_cal_today_button"></div>
            <div class="dhx_cal_date"></div>
            <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
            <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
            <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
        </div>
        <div class="dhx_cal_header">

        </div>
        <div class="dhx_cal_data">

        </div>
    </div>
</body>